body {
    margin: 0;
    /*width: 1438px; */
    height: 2322px;
}

.topbar{
    position: absolute;
    top: 0;
    height: calc(38 / 2322)%;
    background-color: black;
    /*box-shadow: 1px 1px 7px 1px black;*/
    width: 100%;
    text-align: center;
    color: white;
}
#icoontjes{
    text-align: justify;
    float: right;
    display: inline-block;
    margin-right: 21.447761194%;
}

.topbarimg{
    margin: 9px 11px 9px 11px;
}
#telnr{
    margin-top: calc(100% / 67px);
}

/*
Begin navbar
*/
ul.topnav {
    list-style-type: none;
    height: 3.7%;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:white;
}

.logo {
    float:left;
    margin-left:9.1%;
    margin-top:1.3%;
    height:3.7%;
    width:21.3%;
    margin-bottom:0.3%;
}
.icon {
    font-size:15px;
}

ul.topnav li a {
    margin-right:1.66%;
    font-family: "Myriad Pro";
    margin-top:4%;
    text-decoration:none;
    float:right;
    display: inline-block;
    color: Black;
    text-align: center;
    padding:auto;
    transition: 0.3s;
    font-size: 1.505rem;
}
ul.topnav div.menu {
    margin-right:11.61%;
}

ul.topnav li.icon {
    display: none;
}
ul.topnav li a.active {
    color:#004987;
}
@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/* Einde NavBar */
.slides {
    display:none;
    width:100%;
    height: calc(708 / 2322) * 100;
}
.sliderbutton {
/*    border-radius: 15px;*/
    color: grey;
    float: right;
    height: 15px;
    margin: 3px;
}
.selected {
    color: #004a87;
}
#container{
    width: 79.40153096729297%;
    height: 10.29285099052541%;
    margin: auto;
    margin-top: 1.507321274763135%;
}
.imgmettext{
    display: inline-block;
    width: 17.18858733472512%;
    padding: 0 57px 0 57px;
    height: 0.9174311926605505%;
    /*font-size: 28px;*/
    margin: 0 auto;
    text-align: center;
}
.textheader{
    font-family: din-condensed, sans-serif;
    font-weight: bold;
}
#container2{
  width: 78.98399443284621%;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}
#grijsvlak{
  background-color: #dadad9;
  padding: calc(5.167958656330749% / 2) 0;
}
.container2div{
  float: left;
  line-height: 100%;
  display: inline-block;
  word-break: keep-all;
  word-wrap: break-word;
  width: 22%;
}
#fotomettekst{
  text-align: center;
  background-image: url(../images/veranda.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#fotomettekst p{
  font-size: 30px;
  font-family: "Candara";
  color: white;
  line-height: 1.433;
  padding: 4.758828596037899% 0;
}
#container3{
  padding: calc(5.986218776916451% / 2);
  text-align: center;
}
#container3 #offerteknop{
  width: 10.78636047320807%;
  height: 1.722652885443583%;
  background-color: #004a87;
  color: white;
  border: none;
}
