#logincontainer {
    width: 15%;
    margin: 0 auto;
    border: 2px solid black;
    padding-bottom: 1%;
    text-align: center;
}
#logincontainer input{
  margin-top: 1.5%;
}
#logincontainer input[type="submit"]{
  margin-top: 2.5%;
}
#registercontainer{
  float: left;
  width: 10%;
  margin:auto;
  text-align: center;
  display: inline-block;
}
